@page "/"
@using Microsoft.SqlServer.Management.SqlParser.Parser;

<PageTitle>Index</PageTitle>

@*@using System.Threading
@using BlazorApp1.Services
@implements IDisposable
@inject ClipboardService ClipboardService
@page "/"

<button class="btn btn-primary" @onclick="CopyToClipboard" disabled=@state.IsDisabled>
    <i class="@state.ClassName"></i> @state.Text
</button>

@code {
    CancellationTokenSource cts = new();
    State state = new("Copy", "oi oi-clipboard");

    async Task CopyToClipboard()
    {
        var temp = state;
        state = new("Copied", "oi oi-check", IsDisabled: true);
        await ClipboardService.WriteTextAsync("https://www.meziantou.net".AsMemory());
        await Task.Delay(TimeSpan.FromSeconds(2), cts.Token);
        state = temp;
    }

    public void Dispose()
    {
        cts.Cancel(); // Cancel Task.Delay
        cts.Dispose();
    }

    record State(string Text, string ClassName, bool IsDisabled = false);
}*@
@*
<div style="height:500px; overflow-y:scroll" tabindex="-1">
    <Virtualize Context="employee" ItemsProvider="@LoadEmployees">
        <ItemContent>
            <p @key="employee">
                test
            </p>
        </ItemContent>
        <Placeholder>
            <p>
                Loading&hellip;
            </p>
        </Placeholder>
    </Virtualize>
</div>
*@

@*<button @onclick="Add">Add</button>
@State.Value.ClickCount*@

<p class="tokens">
@foreach (Token token in SQLTokens)
{
    switch(token.Id)
    {
        case (int)Tokens.TOKEN_SELECT:
            <em style="color:darkcyan;font-style:normal">@token.Text</em>
        break;
        case (int)Tokens.TOKEN_FROM:
            <em style="color:darkcyan;font-style:normal">@token.Text</em>
        break;
        case (int)Tokens.TOKEN_ID:
            <em style="color:darkblue;font-style:normal">@token.Text</em>
        break;
        case (int)Tokens.TOKEN_WHERE:
            <em style="color:darkcyan;font-style:normal">@token.Text</em>
            break;
        case (int)Tokens.TOKEN_DESC:
            <em style="color:darkgoldenrod;font-style:normal">@token.Text</em>            
            break;
        default:
            @token.Text
        break;
    }
}
</p>


@foreach (Token token in SQLTokens)
{
    <div>@($"{token.Type}({token.Id}):{token.Text}")</div>
}